{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div id="app">    
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-danger pull-right" href="{% url 'servicios_amigables:cancelar' servicio.pk %}">Cancelar Cita</a>
            <h4>RADICADO: {{ servicio.pk }}</h4>
            <h4>ESTADO: {{ servicio.estado }}</h4>
            {% if servicio.estado == 'agendado' %}
            <h4>FECHA CITA: {{ servicio.fecha_cita }}</h4>
            <h4>OBSERVACIONES: {{ servicio.observaciones }}</h4>
            <h4>PROFESIONAL: {{ servicio.profesional }}</h4>
            {% endif %}
            {% if servicio.estado == 'activa' %}
                <p>Felicitaciones.! Nos comunicaremos contigo al telefono {{ user.perfil.telefono }}. cuando se agende la cita.</p>
            {% endif %}
            <p>Te rogamos que des una calificación de acuerdo a la calidad de la atención. y que recomiendes el uso de este servicio con amigos de tu edad.</p>
            <p>Recuerda que este servicio amigable es confidencial, asi que nadie tiene que saber ni juzgarte por querer vivir digna y saludablemente tu sexualidad.</p>
            <h3>HISTORIAL SERVICIOS AMIGABLES</h3>
            <div class="panel">
            <table class="table table-hover" width="100%">
                <tr>
                    <th>Fecha Solicitud</th>
                    <th>Nombre Profesional</th>
                    <th>Observaciones</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                </tr>
                <tr v-for="servicio in servicios" width="100%">
                    <td>[[ servicio.fields.fecha.split('T')[0] ]]</td>
                    <td>[[ servicio.fields.profesional ]]</td>
                    <td>[[ servicio.fields.observaciones ]]</td>
                    <td>[[ servicio.fields.estado ]]</td>
                    <td></td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-4">
            </br>
            </br>
            </br>
            <img src='{% url "index" %}{{ informacion.imagen }}' width="100%"/>
        </div>
    </div>
</div>
<script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data:{
                servicios : {{ servicios|safe }},
            }        
        })
    </script>
{% endblock %}