{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div id="app">
    
    <div class="row">
        <div class="col-md-8 panel">            
            <table class="table table-hover" width="100%">
                <tr>
                    <th>fecha</th>
                    <th>Nombre</th>
                    <th>Identificación</th>
                    <th>Telefono</th>
                    <th>email</th>
                </tr>
                <tr v-for="servicio in servicios" @click="servicioSeleccion=servicio" v-bind:class="estaActivo(servicio)">
                    <td>[[ servicio.fields.fecha ]]</td>
                    <td>[[ servicio.fields.nombre ]]</td>
                    <td>[[ servicio.fields.dentificacion ]]</td>
                    <td>[[ servicio.fields.telefono ]]</td>
                    <td>[[ servicio.fields.email ]]</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 panel">  
            <div>
            <form v-if="servicioSeleccion!=null" method="post">
                {% csrf_token %}
                <input type="hidden" name="servicio" :value="servicioSeleccion.pk">
                <p v-if="servicioSeleccion.fields.primera_vez" ><b>¿PRIMERA VEZ?</b>SI</p>
                <p v-else ><b>¿PRIMERA VEZ? :</b>NO</p>
                <p><b>NOMBRE :</b>[[ servicioSeleccion.fields.nombre ]]</p>
                <p><b>IDENTIFICACIÓN :</b>[[ servicioSeleccion.fields.identificacion ]]</p>
                <p><b>TELEFONO :</b>[[ servicioSeleccion.fields.telefono ]]</p>
                <p><b>EMAIL :</b>[[ servicioSeleccion.fields.email ]]</p>
                <div class="form-group col-md-12">
                    <label>Fecha y hora cita</label>
                    <input type="datetime-local" name="fecha_cita" class="form-control" required>
                </div>
                <div class="form-group col-md-12">
                    <label>Observaciones</label>
                    <input type="text" name="observaciones" class="form-control" required :value="servicioSeleccion.fields.observaciones">
                </div>
                <div class="form-group col-md-12">
                    <label>Nombre profesional de la salúd</label>
                    <input type="text" name="profesional" class="form-control" required :value="servicioSeleccion.fields.profesional">
                </div>
                    <!--
                    <div class="form-group col-md-6">
                        <label>Asegurador</label>
                        <input type="text" name="asegurador" class="form-control">
                    </div>
                    -->
                <div class="form-group col-md-6">
                    <input type="submit" value="Agendar" class="btn btn-primary">
                </div>
            </form>
            </div>
            <img src='{% url "index" %}{{ informacion.imagen }}' width="100%"/>
        </div>
    </div>
</div>
<script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data:{
                servicioSeleccion: null,
                servicios : {{ servicios|safe }},
            },
            methods:{
                enviarPublicacion: function(){
                    if(this.areaPublicacion != '' || this.imagenPublicacion!='' || this.videoPublicacion!=''){
                        this.$refs.formPublicacion.appendChild(this.$refs.imagenPublicacion);
                        this.$refs.formPublicacion.appendChild(this.$refs.videoPublicacion);
                        this.$refs.formPublicacion.submit();
                    }                
                },
                estaActivo: function(servicio){
                    if(this.servicioSeleccion!=null && this.servicioSeleccion.pk == servicio.pk){
                        return 'bg-info';
                    }
                    if(servicio.fields.estado ==='agendado'){
                        return 'bg-success';
                    }
                    return '';
                }
            }
        
        })
    </script>
{% endblock %}