{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="container-fluid">
    <div class="row">
    <!-- apartir de la guía 3-->
    <div class="card-deck d-flex align-items-stretch">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUÍA 3</h4>
                <a href="{% static "/images/guias/docentes/Guia_3.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-3-dib.jpg" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">DERECHOS SEXUALES Y REPRODUCTIVOS</p>
                    <a href="{% static "/images/guias/docentes/Guia_3.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUÍA 4</h4>
                <a href="{% static "/images/guias/docentes/Guia_4.pdf" %}">
                    <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-4-dib.jpg" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">CAMINOS PARA ALCANZAR LOS SUEÑOS</p>
                    <a href="{% static "/images/guias/docentes/Guia_4.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUÍA 5</h4>
                <a href="{% static "/images/guias/docentes/Guia_5.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-5-dib.jpg" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">LA AUTONOMÍA COMO ELEMENTO FUNDANTE DEL PLAN DE VIDA</p>
                    <a href="{% static "/images/guias/docentes/Guia_5.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUÍA 6</h4>
                <a href="{% static "/images/guias/docentes/Guia_6.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-6-dib.jpg" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">CONSTRUYENDO IDENTIDAD EN LA RED SENTIR</p>
                    <a href="{% static "/images/guias/docentes/Guia_6.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        </div>
    </div>
        
    <div class="row">
    <div class="card-deck d-flex align-items-stretch">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUÍA 8</h4>
                <a href="{% static "/images/guias/docentes/Guia_8.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-8-dib.jpg" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">TEJIDOS DE CONVIVENCIA Y AMOR EN LA RED SENTIR</p>
                    <a href="{% static "/images/guias/docentes/Guia_8.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUÍA 10</h4>
                <a href="{% static "/images/guias/docentes/Guia_10.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-10-dib.jpg" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">ENRUTÁNDONOS CON LA RED SENTIR</p>
                    <a href="{% static "/images/guias/docentes/Guia_10.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        </div>
   </div> 
</div>
{% endblock %}
