{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="content">
    <div class="row my-flex-card">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 1</h4>
                <a href="{% static "/images/guias/docentes/Guia_1.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-1-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_1.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 2</h4>
                <a href="{% static "/images/guias/docentes/Guia_2.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-2-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_2.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 3</h4>
                <a href="{% static "/images/guias/docentes/Guia_3.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-3-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_3.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="card">
            <h4 class="card-title">GUIA 4</h4>
            <a href="{% static "/images/guias/docentes/Guia_4.pdf" %}">
            <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-4-dib.png" %}" alt="Card image cap">
            </a>        
            <div class="card-block">            
                <p class="card-text">Somos seres de sexualidad</p>
                <a href="{% static "/images/guias/docentes/Guia_4.pdf" %}" class="btn btn-primary">Ver</a>
            </div>
        </div>
        </div>
    </div>
    <div class="row my-flex-card">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 5</h4>
                <a href="{% static "/images/guias/docentes/Guia_5.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-5-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_5.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 6</h4>
                <a href="{% static "/images/guias/docentes/Guia_6.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-6-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_6.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 7</h4>
                <a href="{% static "/images/guias/docentes/Guia_7.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-7-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_7.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 8</h4>
                <a href="{% static "/images/guias/docentes/Guia_8.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-8-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_8.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-flex-card">    
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 9</h4>
                <a href="{% static "/images/guias/docentes/Guia_9.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-9-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_9.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <h4 class="card-title">GUIA 10</h4>
                <a href="{% static "/images/guias/docentes/Guia_10.pdf" %}">
                <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-10-dib.png" %}" alt="Card image cap">
                </a>        
                <div class="card-block">            
                    <p class="card-text">Somos seres de sexualidad</p>
                    <a href="{% static "/images/guias/docentes/Guia_10.pdf" %}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}