{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<!--div class="container-fluid"-->
    <div class="row">
    <!-- apartir de la guía 1-->
        <div class="card-columns">
        
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 1</h4>
                    <a href="{% static "/images/guias/docentes/Guia_1.pdf" %}">
                    <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-1-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-body"> 
                    <br>
                        <p class="card-text">SOMOS SERES DE SEXUALIDAD</p>
                        <a href="{% static "/images/guias/docentes/Guia_1.pdf" %}" class="btn btn-primary">Ver</a>
                    </div>
                    <div class="card-footer text-danger">
                        <a href="https://www.youtube.com/watch?v=Kud9oxGQbP8&amp;autoplay=1" class="card-link">| Video 1 |</a>
                        <a href="https://www.youtube.com/watch?v=Yi1F5SIK4-8&amp;autoplay=1" class="card-link"> Video 2 |</a>
                        <a href="https://www.youtube.com/watch?v=wF-UIY2huVc&amp;autoplay=1" class="card-link"> Video 3 |</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 3</h4>
                    <a href="{% static "/images/guias/docentes/Guia_3.pdf" %}">
                        <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-3-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-body">
                    <br>
                        <p class="card-text">DERECHOS SEXUALES Y REPRODUCTIVOS</p>
                        <a href="{% static "/images/guias/docentes/Guia_3.pdf" %}" class="btn btn-primary">Ver</a>
                    </div>
                    <div class="card-footer text-danger">
                        <a href="https://www.youtube.com/watch?v=8pVevxfHI-I&amp;autoplay=1" class="card-link">| Video 1 |</a>
                        <a href="https://www.youtube.com/watch?v=23LyLLtexaU&amp;autoplay=1" class="card-link"> Video 2 |</a>
                        <a href="https://www.youtube.com/watch?v=eWW8riHsezY&amp;autoplay=1" class="card-link"> Video 3 |</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 4</h4>
                    <a href="{% static "/images/guias/docentes/Guia_4.pdf" %}">
                        <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-4-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-block">  
                    <br>
                        <p class="card-text">CAMINOS PARA ALCANZAR LOS SUEÑOS</p>
                        <a href="{% static "/images/guias/docentes/Guia_4.pdf" %}" class="btn btn-primary">Ver</a>
                    </div>
                    <div class="card-footer text-danger">
                        <a href="https://www.youtube.com/watch?v=uzCQXr9_5NE&amp;autoplay=1" class="card-link">| Video 1 |</a>
                        <a href="https://www.youtube.com/watch?v=FfwlZ4CCUQg&amp;autoplay=1" class="card-link"> Video 2 |</a>
                        <a href="https://www.youtube.com/watch?v=PcW8e02ZLoQ&amp;autoplay=1" class="card-link"> Video 3 |</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 5</h4>
                    <a href="{% static "/images/guias/docentes/Guia_5.pdf" %}">
                    <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-5-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-block"> 
                    <br>
                        <p class="card-text">LA AUTONOMÍA COMO ELEMENTO FUNDANTE DEL PLAN DE VIDA</p>
                        <a href="{% static "/images/guias/docentes/Guia_5.pdf" %}" class="btn btn-primary">Ver</a>
                        <br>
                        <br>
                        <div class="card-footer text-danger">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        
    <div class="row">
        <div class="card-deck">
        
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 6</h4>
                    <a href="{% static "/images/guias/docentes/Guia_6.pdf" %}">
                    <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-6-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-block">
                    <br>
                        <p class="card-text">CONSTRUYENDO IDENTIDAD EN LA RED SENTIR</p>
                        <a href="{% static "/images/guias/docentes/Guia_6.pdf" %}" class="btn btn-primary">Ver</a>
                    </div>
                    <div class="card-footer text-danger">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 8</h4>
                    <a href="{% static "/images/guias/docentes/Guia_8.pdf" %}">
                    <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-8-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-block"> 
                    <br>
                        <p class="card-text">TEJIDOS DE CONVIVENCIA Y AMOR EN LA RED SENTIR</p>
                        <a href="{% static "/images/guias/docentes/Guia_8.pdf" %}" class="btn btn-primary">Ver</a>
                        <br>
                        <br>
                    </div>
                    <div class="card-footer text-danger">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card text-center">
                    <h4 class="card-title">GUÍA 10</h4>
                    <a href="{% static "/images/guias/docentes/Guia_10.pdf" %}">
                    <img class="card-img-top" width="100%" src="{% static "/images/portadas_guias/guia-10-dib.jpg" %}" alt="Card image cap">
                    </a>        
                    <div class="card-block"> 
                    <br>
                        <p class="card-text">ENRUTÁNDONOS CON LA RED SENTIR</p>
                        <a href="{% static "/images/guias/docentes/Guia_10.pdf" %}" class="btn btn-primary">Ver</a>
                    </div>
                    <div class="card-footer text-danger">
                    </div>
                </div>
            </div>
            
        </div> 
    </div>
    
    <div class="footer">
        <p style="text-align:center;">
            <img src="{% static "/images/logo_marinilla.png" %}" alt="logo_marinilla" width="40%" height="40%" class="center"> 
        </p>
    </div>
    
<!--/div-->
{% endblock %}
