{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="content">
    <div class="card-deck">
    {% for encuentro in encuentros %}
    <div class="col-lg-4 col-sm-6">
        <div class="card" style="max-height: 500px; height: 500px">
        <img class="card-img-top" height="300rem" width="98%" src="/{{ encuentro.carreta1.url }}" alt="{{encuentro.titulo}}">
        <div class="card-block">
            </br>
            <h4 class="card-title">{{ encuentro.titulo }}</h4>
            <p class="card-text">{{ encuentro.subTitulo }}</p>
            <a href="{% url "formacion:encuentro" encuentro.pk %}" class="btn btn-primary" style="position: absolute; right: 20px;bottom: 20px;">Ver</a>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}