{% load static %}
<div id="menuLaboratorios">
            <div class="container-fluid margen">
                <div class="col-md-12">
                    <h1 class="mantekad"><b>LOS LABORATORIOS PEDAGÓGICOS ESTÁN DIVIDIDOS DE LA SIGUIENTE MANERA:</b></h1>
                </div>
                <div class="col-md-12">                    
                    <div class="alert alert-success">
                        <div class="row">
                        <div class="col-md-2">
                            <img src="{% static "/images/guias/lab-reflexivo.png" %}" width="50%">
                        </div>
                        <div class="col-md-10">
                            <h3>Laboratorio Reflexivo</h3>
                            <p>
                        <font size="3">Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza clasica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de </font>
                    </p>
                        </div>
                        </div>
                    </div>
                    <div class="alert alert-info">
                        <div class="row">
                        <div class="col-md-2">
                            <img src="{% static "/images/guias/lab-investigativo.png" %}" width="50%">
                        </div>
                        <div class="col-md-10">
                         <h3>Laboratorio Reflexivo</h3>
                        <p>
                        <font size="3">Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza clasica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de</font>
                    </p>
                        </div>
                        </div>
                    </div>
                    <div class="alert alert-warning">
                        <div class="row">
                        <div class="col-md-2">
                            <img src="{% static "/images/guias/lab-creativo.png" %}" width="30%">
                        </div>
                        <div class="col-md-10">
                         <h3>Laboratorio Reflexivo</h3>
                        <p>
                        <font size="3">Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza clasica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem </font>
                    </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>