{% load static %}
<div id="modulos">
    <div class="container-fluid margen">            
        <div class="row">
            <div class="col-md-4">
                <div class="borde">
                    <a href="#" ><img width="20%" src="{% static "/images/guias/LIBROS_h.png" %}" onmouseover="this.src='{% static "/images/guias/LIBROS_h.png';" %}" onmouseout="this.src='{% static "/images/guias/LIBROS.png';"></a>
                    <a href="#" ><img width="20%" src="{% static "/images/guias/LIBROS.png" onmouseover="this.src='{% static "/images/guias/LIBROS_h.png';" %}" onmouseout="this.src='{% static "/images/guias/LIBROS.png';"></a>
                    <a href="#" ><img width="20%" src="{% static "/images/guias/LIBROS.png" onmouseover="this.src='{% static "/images/guias/LIBROS_h.png';" onmouseout="this.src='{% static "/images/guias/LIBROS.png';" %}"></a>
                    </br>
                    </br>
                    <h1 class="shumiTitulo">MODULOS</h1>
                    <ul>
                        <li>
                            <p class="arial-narrow"><font size="5">QUÉ ES LA SEXUALIDAD</font></p>
                        </li></br>
                        <li>
                            <p class="arial-narrow">FUNCIONES DE LA SEXUALIDAD</p>
                        </li></br>
                        <li>
                            <p class="arial-narrow">COMPONENTES DE LA SEXUALIDAD</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="background trans">
                <div class="text">
                    <h2 class="manteka"><b>OBJETIVO DE LA GUIA</b></h2>
                    <p class="manteka">
                        <font size="5">ENTENDER QUE ES LA SEXUALIDAD A TRAVES DE INFORMACIÓN CONFIABLE, LA REFLEXION Y LA INDAGACION PARA APLICARLOS A NUESTROS PLANES DE VIDA.</font>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>