{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="content">
    <div class="card-deck">
    {% for podcast in podcasts_familiar %}
        <div class="col-lg-6 col-sm-12">
            <div class="card">
            <h4 class="card-title">{{ podcast.titulo  }}</h4>
            {% if podcast.entrevista %}
                {{ podcast.entrevista | safe }} 
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
