{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row">
    <div class="content">
        <div class="card-deck">
        {% for video in videos_familiar %}
        <div class="col-lg-6 col-sm-12">
            <div class="card">
            <h4 class="card-title">{{ video.titulo  }}</h4>
                {{ video.video | safe }} 
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<div class="footer">
    <p style="text-align:center;">
        <img src="{% static "/images/logo_marinilla.png" %}" alt="logo_marinilla" width="40%" height="40%" class="center"> 
    </p>
</div>
{% endblock %}
