<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="icon" type="image/png" href="{% static "/images/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Red Sentir</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"><img width="15%" src="{% static "/images/pagina/5.png" %}"/></div>
    </section>
    <section class="login-content">
      <div class="logo">
        
      </div>
      <div class="card col-md-7">
    <form  method="post" class="form-horizontal" enctype="multipart/form-data">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>REGISTRO</h3>
    {% csrf_token %}
    <div class="card-body">
        {% if usuario %}
            <div class="alert alert-danger">{{ usuario }}</div>
        {% endif %}
        {% if password %}
            <div class="alert alert-danger">{{ password }}</div>
        {% endif %}
        {% if email %}
            <div class="alert alert-danger">{{ email }}</div>
        {% endif %}
        {% if fecha_nacimiento %}
            <div class="alert alert-danger">{{ fecha_nacimiento }}</div>
        {% endif %}
        {% if condiciones %}
            <div class="alert alert-danger">{{ condiciones }}</div>
        {% endif %}
        <div class="form-group">
            <label class="control-label col-md-3">Usuario</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Usuario" name="username" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">FechaNacimiento</label>
            <div class="col-md-8">
                <input class="form-control" type="date" placeholder="Fecha de Nacimiento" name="fecha_nacimiento" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Contraseña</label>
            <div class="col-md-8">
                <input class="form-control" type="password" placeholder="Contraseña" name="password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Repetir contraseña</label>
            <div class="col-md-8">
                <input class="form-control" type="password" placeholder="Repetir contraseña" name="password1" required>
            </div>
        </div>
        <div class="form-group">
        <label class="control-label col-md-3">Correo</label>
        <div class="col-md-8">
            <input class="form-control col-md-8" type="email" placeholder="Correo electrónico" name="email">
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-md-3">Celular</label>
        <div class="col-md-8">
            <input class="form-control" type="text" placeholder="Celular" name="telefono">
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-md-3">Sexo</label>
        <div class="col-md-8">
            <div class="radio-inline">
            <label>
                <input type="radio" name="genero" required>Masculino
            </label>
            </div>
            <div class="radio-inline">
            <label>
                <input type="radio" name="genero" required>Femenino
            </label>
            </div>
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-md-3">Avatar</label>
        <div class="col-md-8">
            <input class="form-control" type="file" name="avatar">
        </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
            <label>
                <input type="checkbox">Acepto los <a href="#">términos y condiciones.</a>
            </label>
            </div>
        </div>
    
    </div>
    <div class="card-footer">
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
        <button class="btn btn-primary icon-btn" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Registrar</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-default icon-btn" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
        </div>
    </div>
    </div>
    </form>
      </div>
    </section>
  </body>
  <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/plugins/pace.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
</html>
