{% extends 'base.html' %}
{% load static %}
{% block sideMenu %}
    <li><a href="/"><i class="fa fa-dashboard"></i><span>Panel de Control</span></a></li>
    <li class="active"><a href="/lineabase"><i class="fa fa-pie-chart"></i><span>Linea base</span></a></li>
{% endblock %}
{% block contenido %}
    <div class="col-md-12">
        <div class="card">
            <h1>Grupos sociales en que participan los jóvenes.</h1>
        </div>
    </div>    
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-title">Frecuencia Absoluta</h3>
            <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-title">Porcentaje</h3>
            <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <h1>Significados que para los jóvenes tiene un embarazo en la adolescencia.</h1>
        </div>
    </div>    
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-title">Frecuencia Absoluta</h3>
            <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="barChartSignificado"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-title">Porcentaje</h3>
            <div class="embed-responsive embed-responsive-16by9">
            <canvas class="embed-responsive-item" id="pieChartSignificado"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "/js/plugins/chart.js" %}"></script>
    <script type="text/javascript">
        var data = {
            labels: ["Deportivos", "Ninguno", "Culturales / artísticos", "Sociales", "Musicales", "Religiosos","Ambientales", "Militares"],
            datasets: [
                    {
                            label: "My First dataset",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [2021, 1299, 598, 538, 526, 498, 236, 36]
                    }
            ]
        };
        
        var pdata = [
      	{
      		value: 2021,
      		color:"#F7464A",
      		highlight: "#FF5A5E",
      		label: "Deportivos"
      	},
      	{
      		value: 1299,
      		color: "#46BEEE",
      		highlight: "#5AD3D1",
      		label: "Ninguno"
      	},
      	{
      		value: 598,
      		color: "#9DBDDD",
      		highlight: "#FFC870",
      		label: "Culturales / artísticos"
      	},
      	{
      		value: 538,
      		color: "#8DBBBB",
      		highlight: "#FFC870",
      		label: "Sociales"
      	},
      	{
      		value: 526,
      		color: "#6DBAAA",
      		highlight: "#FFC870",
      		label: "Musicales"
      	},
      	{
      		value: 498,
      		color: "#FDBCCC",
      		highlight: "#FFC870",
      		label: "Religiosos"
      	},
      	{
      		value: 236,
      		color: "#CDAFFF",
      		highlight: "#FFC870",
      		label: "Ambientales"
      	},
      	{
      		value: 36,
      		color: "#210765",
      		highlight: "#FFC870",
      		label: "Militares"
      	}
      ]
      var dataSignificado = {
            labels: ["Interrumpe mi plan de vida", "Es un problema", "No es un problema", "Es una realización", "Es obligatorio", "Es tradición","Es una necesidad"],
            datasets: [
                    {
                            label: "My First dataset",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [3667, 1777, 865, 290, 205, 104, 85]
                    }
            ]
        };
        
        var pdataSignificado = [
      	{
      		value: 2021,
      		color:"#F7464A",
      		highlight: "#FF5A5E",
      		label: "Deportivos"
      	},
      	{
      		value: 1299,
      		color: "#46BEEE",
      		highlight: "#5AD3D1",
      		label: "Ninguno"
      	},
      	{
      		value: 598,
      		color: "#9DBDDD",
      		highlight: "#FFC870",
      		label: "Culturales / artísticos"
      	},
      	{
      		value: 538,
      		color: "#8DBBBB",
      		highlight: "#FFC870",
      		label: "Sociales"
      	},
      	{
      		value: 526,
      		color: "#6DBAAA",
      		highlight: "#FFC870",
      		label: "Musicales"
      	},
      	{
      		value: 498,
      		color: "#FDBCCC",
      		highlight: "#FFC870",
      		label: "Religiosos"
      	},
      	{
      		value: 236,
      		color: "#CDAFFF",
      		highlight: "#FFC870",
      		label: "Ambientales"
      	}
      ]
      
        var ctxb = $("#barChartDemo").get(0).getContext("2d");
        var barChart = new Chart(ctxb).Bar(data);
        
        var ctxp = $("#pieChartDemo").get(0).getContext("2d");
        var barChart = new Chart(ctxp).Pie(pdata);

        var ctxb = $("#barChartSignificado").get(0).getContext("2d");
        var barChart = new Chart(ctxb).Bar(dataSignificado);

        var ctxp = $("#pieChartSignificado").get(0).getContext("2d");
      var barChart = new Chart(ctxp).Pie(pdataSignificado);
    </script>
{% endblock %}

