amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
beautifulsoup4==4.6.0
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cheroot==6.0.0
CherryPy==14.0.0
cryptography==2.1.4
Django==1.10.5
django-celery==3.2.2
django-google-analytics-app==4.3.0
django-queryset-csv==1.0.0
django-social-widgets==0.4.0
enum34==1.1.6
idna==2.6
ipaddress==1.0.19
kombu==3.0.37
more-itertools==4.1.0
oauthlib==2.0.6
Pillow==5.0.0
portend==2.2
psycopg2==2.7.4
psycopg2-binary==2.7.4
pycparser==2.18
PyJWT==1.5.3
pyOpenSSL==17.5.0
python-dotenv==0.18.0
python-openid==2.2.5
pytz==2018.3
requests==2.31.0
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
tempora==1.10
typing==3.10.0.0
unicodecsv==0.14.1
urllib3==1.22
