{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
    <div class="col-md-10">          
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <div class="card mark">
                            <div class="row">
                                <div class="col-md-9">
                                <h4>{{ foro.titulo }}</h4>
                                <p color="#000" align="justify">{{ foro.tema }}</p>
                                </div>
                                <div class="col-md-3">
                                {% social_widget_render 'facebook/share_button.html' href='http://redsentir.org/foro/' pid=foro.pk %}                                
                                <img width="100%" src="/{{ foro.imagen.url }}" alt="Imagen Foro">
                                </div>
                            </div>
                        </div>                
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        {% for comentario in comentarios %}
                        <li class="left clearfix">
                            <div class="image pull-left">
                                {% if comentario.usuario and comentario.usuario.perfil.avatar %}
                                    <img class="img-circle" width="60" src="/{{ comentario.usuario.perfil.avatar.url }}" alt="Imagen de Usuario">
                                {% else %}
                                    <img class="img-circle"  width="60" src="{% static "/images/noavatar.png" %}" alt="Imagen de Usuario">
                                {% endif %}
                            </div>
                            <div class="chat-body clearfix" id="comentario_{{ comentario.pk }}">
                                <div class="header">
                                    {% if comentario.usuario %}
                                        <strong class="primary-font">{{ comentario.usuario.username }}</strong>                                        
                                    {% else %}
                                        <strong class="primary-font">Anónimo</strong>                                         
                                    {% endif %} 
                                    
                                    <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comentario.fecha }}
                                    </small>
                                </div>
                                <p>
                                    {{ comentario.mensaje }}
                                    <span class="pull-right">
                                    <a href="{% url 'foros:me_gusta' comentario.pk %}"><i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ comentario.me_gusta }}</font></a>
                                    <a href="#comentario_{{ comentario.pk }}" onclick="toggle({{ comentario.pk }})"><i class="fa fa-comments" aria-hidden="true"></i></a>
                                    </span>                                    
                                </p>
                                <div id="div_comentario_{{ comentario.pk }}" style="display : None ;">
                                    {% for respuesta in comentario.respuesta_set.all %}
                                        <p>
                                            <font size="3">
                                            -<b>{{ respuesta.usuario.username }} :</b>{{ respuesta.mensaje }}
                                            </font>
                                            <span class="pull-right">
                                                <a href="{% url 'foro:me_gusta' respuesta.pk %}">
                                                    <i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ respuesta.me_gusta }}</font>
                                                </a>
                                            </span>                                        
                                        </p>
                                    {% endfor %}
                                    <form method="post" class="form-inline pull-right" action="{% url 'foro:foro' foro.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="comentario_id" value="{{ comentario.pk }}">
                                        <input type="text" class="form-control" name="respuesta" maxlength="200">
                                        <input type="submit" value="Responder" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <form method="post" action="{% url 'foro:foro' foro.pk %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="checkbox" name="anonimo" value="1"/>Anónimo
                        <input id="btn-input" type="text" name="mensaje" class="form-control input-sm" placeholder="Escriba su comentario aqui..." maxlength="200" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                Enviar</button>
                        </span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var temp = 0;
        function toggle(id) {
            if (temp != 0) {
                var y = document.getElementById("div_comentario_"+temp);
                y.style.display = "none";
            }
            temp = id;
            var x = document.getElementById("div_comentario_"+id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock %}