{% extends 'base.html' %}
{% load static %}
{% load grupo %}
{% load social_widgets %}
{% block contenido %}
    <div class="col-md-10">          
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <div class="card mark">
                            <div class="row">
                                <div class="col-md-9">
                                <h4>{{ foro.titulo }}</h4>
                                <p color="#000" align="justify">{{ foro.tema }}</p>
                                </div>
                                <div class="col-md-3">
                                {% social_widget_render 'facebook/share_button.html' href='https://redsentir.org/foros/foro' pid=foro.pk %}                                
                                <img width="100%" src="/{{ foro.imagen.url }}" alt="Imagen Foro">
                                </div>
                            </div>
                        </div>                
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        {% for comentario in comentarios %}
                        <li class="left clearfix">
                            <div class="image pull-left">
                                {% if comentario.usuario and comentario.usuario.perfil.avatar %}
                                    <img class="img-circle" width="60" src="/{{ comentario.usuario.perfil.avatar.url }}" alt="Imagen de Usuario">
                                {% else %}
                                    <img class="img-circle"  width="60" src="{% static "/images/noavatar.png" %}" alt="Imagen de Usuario">
                                {% endif %}
                            </div>
                            <div class="chat-body clearfix" id="comentario_{{ comentario.pk }}">
                                <div class="header">
                                    {% if comentario.usuario %}
                                        <strong class="primary-font">{{ comentario.usuario.username }}</strong>                                        
                                    {% else %}
                                        <strong class="primary-font">Anónimo</strong>                                         
                                    {% endif %} 
                                    
                                    <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comentario.fecha }}
                                    </small>
                                </div>
                                <p>
                                    {{ comentario.mensaje }}
                                    <span class="pull-right">
                                    <a href="{% url 'foro:me_gusta' comentario.pk %}"><i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ comentario.me_gusta }}</font></a>
                                    <a href="#comentario_{{ comentario.pk }}" onclick="toggle({{ comentario.pk }})"><i class="fa fa-comments" aria-hidden="true"></i></a>
                                    </span>                                    
                                </p>
                                <div id="div_comentario_{{ comentario.pk }}" style="display">
                                    {% for respuesta in comentario.respuesta_set.all %}                                        
                                        <p >
                                            <font size="3">
                                            -<b>{{ respuesta.usuario.username }} :</b>{{ respuesta.mensaje }}
                                            </font>
                                            </br>
                                            {% if respuesta.imagen != None %}
                                                <img src="{% url "index" %}{{ respuesta.imagen }}" width="50%" height="" vspace="10">
                                            {% endif %}
                                            <span class="pull-right">
                                                <a href="{% url 'foro:me_gusta_r' respuesta.pk %}">
                                                    <i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ respuesta.me_gusta }}</font>
                                                </a>
                                            </span>                                        
                                        </p>
                                    {% endfor %}
                                    
                                    </br>
                                    <div class="form-inline pull-right">
                                        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#responderforoModal" onClick="modalResponder({{ comentario.pk }}, '{{ comentario.mensaje }}')">
                                            Comentar
                                        </button>
                                    </div>
                                    <form method="post" class="form-inline pull-right" action="{% url 'foro:foro' foro.pk %}" id="resp{{ comentario.pk }}" enctype="multipart/form-data">
                                        {% csrf_token %}                                
                                        <input type="hidden" name="comentario_id" value="{{ comentario.pk }}">
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <form method="post" name="foro" action="{% url 'foro:foro' foro.pk %}" onsubmit="document.forms['foro']['enviar'].disabled=true;" >
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="checkbox" name="anonimo" value="1"/>Anónimo
                        <input id="btn-input" type="text" name="mensaje" class="form-control input-sm" placeholder="Escriba su comentario aqui..." maxlength="200" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning btn-sm" id="btn-chat" name="enviar">
                                Enviar</button>
                        </span>
                    </div>
                    </form>
                </div>
                <!-- Modal -->
                    <div class="modal fade" id="responderforoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-xs-2">
                                    {% if user.perfil.avatar %}
                                        <img class="img-circle" width="100%" src="/{{ user.perfil.avatar.url }}" alt="Imagen de Usuario">
                                    {% else %}
                                        <img class="img-circle" width="100%" src="{% static "/images/noavatar.png" %}" alt="Imagen de Usuario">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <p id="comentario_nombre">  </p>
                                </div>
                            </div>
                            <h5 class="modal-title" id="exampleModalLabel">{{ user.username }}</h5>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" rows="5" id="respuesta" name="respuesta"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <label class="btn btn-primary btn-file">
                                <input name="imagenes" type="file" id="imagenes" style="display: none;">
                                <i class="fa fa-fw fa-lg fa-image"></i>Foto
                            </label>
                            <button class="btn btn-primary" onClick="responder()" data-dismiss="modal">Responder</button>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!--Fin Modal -->
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var temp = 0;
        var comentario=0;
        function toggle(id) {
            if (temp != 0) {
                var y = document.getElementById("div_comentario_"+temp);
                y.style.display = "none";
            }
            temp = id;
            var x = document.getElementById("div_comentario_"+id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function modalResponder(comentario_id, comentario_name){
            comentario=comentario_id;        
            document.getElementById("comentario_nombre").innerHTML = comentario_name;
        }
        function responder(){
            formulario = document.getElementById("resp"+comentario);
            formulario.appendChild(document.getElementById("respuesta"));
            formulario.appendChild(document.getElementById("imagenes"));
            formulario.submit();            
        }
      
    </script>
{% endblock %}