{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
    <div class="col-md-12">          
            <div class="panel panel-primary">
                <div class="panel-heading">
                     <div class="card mark">
                            <div class="row">
                                <div class="col-md-9">
                                <h4>Mitos de la sexualidad</h4>
                                <p color="#000" align="justify">
                                    En este foro resolveremos inquietudes, te daremos acompañamiento y orientación con respecto a distintos temas de sexualidad tumbando distintos mitos alrededor de ella. La sexualidad es la base de las relaciones que compone la vida humana por eso hay que entenderla y experimentarla libremente y con responsabilidad, por lo tanto, en este foro responderemos aquellas dudas, habladurías, chismoseo, o creencias que hayas escuchado sobre distintos temas de la sexualidad como el sexo, el género, los derechos, abortos, el coito, la orientación sexual, el autoerotismo, etc.
                                    
    Para comenzar opina acerca de los siguiente:

    ¿Qué se dice sobre la sexualidad en la calle y colegio o entre tus amigos, familiares y profesores?
                                </p>
                                </div>
                                <div class="col-md-3">
                                {% social_widget_render 'facebook/share_button.html' href='http://redsentir.org/foro' %}
                                <img width="100%" src="{% static "/images/pagina/foro1.png" %}" alt="Imagen Foro">
                                </div>
                            </div>
                        </div>                
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        {% for comentario in comentarios %}
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img class="img-circle" src="{% static "/images/logoredsentir1.png" %}" alt="Imagen de Usuario">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    {% if comentario.usuario %}
                                        <strong class="primary-font">{{ comentario.usuario.username }}</strong>                                        
                                    {% else %}
                                        <strong class="primary-font">Anónimo</strong>                                         
                                    {% endif %} 
                                    
                                    <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>{{ comentario.fecha }}
                                    </small>
                                </div>
                                <p>
                                    {{ comentario.mensaje }}
                                    <span class="pull-right">
                                    <a href="{% url 'foro:me_gusta' comentario.pk %}"><i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ comentario.me_gusta }}</font></a>
                                    <a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a>
                                    </span>
                                    
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="checkbox" name="anonimo" value="1"/>Anónimo
                        <input id="btn-input" type="text" name="mensaje" class="form-control input-sm" placeholder="Escriba su comentario aqui..." />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                Enviar</button>
                        </span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
