{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
        <div class="tab-pane active" id="user-timeline">
            <div class="timeline">
                
                <div class="post">
                <div class="post-media">
                    {% if usuario.perfil.avatar %}
                            <img width="8%" src="/{{ usuario.perfil.avatar.url }}">
                        {% else %}
                            <img width="8%" src="{% static "/images/noavatar.png" %}">
                        {% endif %}
                    <div class="content">
                    <h5><a href="#">{{ usuario.username }}</a></h5>
                    <p class="text-muted"><small>6 enero de 2018</small></p>
                    </div>
                </div>
                <div class="post-content">
                    <p>Somos un proyecto para la prevención del embarazo adolescente, liderado por la Corporación de Estudiantes Universitarios y Profesionales de Marinilla-CORUM con Cooperación Internacional del Banco Interamericano de Desarrollo-BID y con recursos del Fondo Especial Japonés para la reducción de la pobreza en 6 municipios del Oriente antioqueño: Sonsón, Abejorral, San Francisco, San Luis, Argelia y Marinilla.</p>
                </div>
                <ul class="post-utility">
                    <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Me gusta</a></li>
                    <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Compartir</a></li>
                    <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comentarios</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tab-pane active" id="user-timeline">
            <div class="timeline">
                
                <div class="post">
                <div class="post-media">
                    {% if usuario.perfil.avatar %}
                            <img width="8%" src="/{{ usuario.perfil.avatar.url }}">
                        {% else %}
                            <img width="8%" src="{% static "/images/pagina/logo-red-p.png" %}">
                        {% endif %}
                    <div class="content">
                    <h5><a href="#">{{ usuario.username }}</a></h5>
                    <p class="text-muted"><small>16 enero de 2018</small></p>
                    </div>
                </div>
                <div class="post-content">
                    <img width="80%" src="{% static "/images/pagina/encuentro1.jpg" %}">
                    <p>Somos un proyecto para la prevención del embarazo adolescente, liderado por la Corporación de Estudiantes Universitarios y Profesionales de Marinilla-CORUM con Cooperación Internacional del Banco Interamericano de Desarrollo-BID y con recursos del Fondo Especial Japonés para la reducción de la pobreza en 6 municipios del Oriente antioqueño: Sonsón, Abejorral, San Francisco, San Luis, Argelia y Marinilla.</p>
                </div>
                <ul class="post-utility">
                    <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Me gusta</a></li>
                    <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Compartir</a></li>
                    <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comentarios</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}