{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user" id="app">
    <!--        Que estas pensando -->
    <div class="col-md-12">
        <div class="tab-pane active" id="user-timeline">
            <div class="timeline">
                <div class="post">
                    <div class="post-media">
                        {% if user.perfil.avatar %}
                            <img class="img-circle" width="6%" src="/{{ user.perfil.avatar.url }}">
                        {% else %}
                            <img width="6%" src="{% static "/images/isotiporedsentir.png" %}">
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}                        
                            <div class="col-md-6">
                                <textarea readonly v-model="areaPublicacion" name="contenido" class="form-control" rows="3" cols="100" data-toggle="modal" data-target="#exampleModal" placeholder="¡{{ user.username }}! Comparte algo con nosotros."></textarea>
                            </div>
                            <div class="col-md-12">
                                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-lg fa-headphones">
                                        </i>Audio
                                    </a>
                                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-lg fa-photo"></i>Imagen</a>
                                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-lg fa-film"></i>Video</a>    
                                <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Compartir</a>
                            </div> <!--Fin col-md-12 -->
                        </form>
                    </div> <!-- Fin post-media-->
                </div>
            </div>
        </div>
    </div> <!-- Fin que estas pensando-->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% if user.perfil.avatar %}
                        <img class="img-circle" width="8%" src="/{{ user.perfil.avatar.url }}">
                    {% else %}
                        <img width="8%" src="{% static "/images/isotiporedsentir.png" %}">
                    {% endif %}
                </div> <!-- Final modal-header-->
                
                <form method="post" enctype="multipart/form-data" ref="formPublicacion">
                {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="accion" v-model="accion">
                        <input type="hidden" name="publicacion" v-model="publicacion">
                        <textarea name="contenido" ref="areaPublicacion" v-model="areaPublicacion" class="form-control" rows="3" placeholder="¡{{ user.username }}! Comparte algo con nosotros."></textarea>
                    </div> <!-- Fin modal-body-->
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <label class="btn btn-default btn-file">
                                <input name="video" ref="audioPublicacion" v-model="audioPublicacion" type="file" style="display: none;">
                                <i class="fa fa-fw fa-lg fa-headphones"></i>Audio
                            </label>
                            <label class="btn btn-default btn-file">
                                <input name="imagenes" ref="imagenPublicacion" v-model="imagenPublicacion" type="file" multiple style="display: none;">
                                <i class="fa fa-fw fa-lg fa-photo"></i>Imagen
                            </label>
                            <label class="btn btn-default btn-file">
                                <input name="video" ref="videoPublicacion" v-model="videoPublicacion" type="file" style="display: none;">
                                <i class="fa fa-fw fa-lg fa-film"></i>Video
                            </label>
                                <a class="btn btn-primary" @click="enviarPublicacion">Compartir</a>
                        </div>
                    </div> <!--Fin modal-footer-->
                </form>
            </div>
        </div>
    </div> <!--Fin modal-->

    <!--Publicaciones en lineatiempo-->
    {% for publicacion in publicaciones %}
        <div class="col-md-12" id ="publicacion_{{ publicacion.pk }}"> <!--Inicio col-md-12-->
            <div class="tab-pane active" id="user-timeline">
                <div class="timeline">
                    <div class="post">
                        {% if publicacion.usuario.pk == user.pk or user.is_superuser %}
                            <div class="pull-right">
                                <a href="#" @click="borrarPublicacion({{publicacion.pk}})"><i class="fa fa-fw fa-lg fa-trash-o"></i></a></li>
                            </div>
                        {% endif %}
                        <div class="post-media"> <!--Inicio post-media-->       
                            <a href="{% url 'perfil' publicacion.usuario.pk %}">
                            {% if publicacion.usuario.perfil.avatar %}
                                <img width="60" src="{% url "index" %}{{ publicacion.usuario.perfil.avatar.url }}" class="img-circle">
                            {% else %}
                                <img width="60" src="{% static "/images/isotiporedsentir.png" %}">
                            {% endif %}
                            </a>
                            <div class="content">
                                <h5><a href="{% url 'perfil' publicacion.usuario.pk %}">{{ publicacion.usuario.username }}</a></h5>
                                <p class="text-muted"><small>{{ publicacion.fecha }}</small></p>
                            </div>                            
                        </div> <!--Fin post-media-->                       
                        <div class="post-content"> <!--Inicio post-content-->       
                            <div class="row user">
                                <div class="col-md-12">
                                    <p class="text-justify"> {{ publicacion.contenido|safe }} </p>
                                </div>
                                {% for multiMedia in publicacion.multimedia_set.all %}
                                {% if multiMedia.tipo == 'video' %}
                                <div class="col-md-6">
                                    <video width="100%" height="240" controls>
                                        <source src="{% url "index" %}{{ multiMedia.archivo }}" type="video/mp4">
                                    </video>
                                </div>
                                {% else %}
                                <div class="col-md-{% ifequal publicacion.num_img 1 %}6{% endifequal %}{% ifequal publicacion.num_img 2 %}6{% endifequal %}{% if publicacion.num_img > 2 %}4{% endif %}">
                                    <img id="{{multiMedia.pk}}" @click="modalImagen( {{multiMedia.pk}} )" data-toggle="modal" data-target="#myModal" src="{% url "index" %}{{ multiMedia.archivo }}" width="100%" height="{% ifequal publicacion.num_img 1 %}600{% endifequal %}{% ifequal publicacion.num_img 2 %}600{% endifequal %}{% if publicacion.num_img > 2 %}300{% endif %}" vspace="10"> 
                                </div>
                                {% endif %}                        
                                {% endfor %}
                            </div>
                            <span class="pull-right">
                                <a href="{% url 'lineatiempo:me_gusta_p' publicacion.pk %}"><i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ publicacion.me_gusta }}</font></a>
                                <a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Compartir</a></li>
                                <a data-toggle="modal" data-target="#Modalcomentario{{ publicacion.pk }}" @click="publicacion={{ publicacion.pk }}"><i class="fa fa-fw fa-lg fa-comment-o"></i> {{publicacion.comentarios}} Comentarios </a></li>
                            </span>
                        </div><!--Fin post-content-->
                    </div>
                </div>
            </div>
        </div> <!--Fin col-md-12-->
        
         <!-- The Modal -->
        <div id="myModal" class="modal">
            <div class="modal-in">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="closeModal">&times;</span>
                </button>
                    <img class="modal-content" id="modalImg">
                <div id="caption"></div>
            </div>
        </div>
            
    <!-- Modal Comentarios-->
    <div class="modal fade" id="Modalcomentario{{ publicacion.pk }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true"> <!--Inicio modal-comentarios-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        <div class="row">
                            <div class="col-xs-2">
                                {% if user.perfil.avatar %}
                                    <img class="img-circle" width="100%" src="/{{ user.perfil.avatar.url }}" alt="Imagen de Usuario">
                                {% else %}
                                    <img class="img-circle" width="100%" src="{% static "/images/noavatar.png" %}" alt="Imagen de Usuario">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <p id="comentario_nombre">  </p>
                            </div>
                        </div><!--Fin class-row-->
                            <h5 class="modal-title" id="exampleModalLabel">{{ user.username }}</h5>
                </div><!--Fin modal-header-->
                    
                <form method="post" enctype="multipart/form-data" ref="formComentarioP" @submit.prevent='enviarComentarioP'>
                {% csrf_token %} 
                    <div class="modal-body">   
                        <input type="hidden" name="accion" v-model="accion">
                        <input type="hidden" name="publicacion" v-model="publicacion">
                        <input type="hidden" name="comentario" v-model="comentario">
                        <textarea class="form-control" rows="3" v-model="textoComentario" name="contenido" placeholder="¡{{ user.username }}! Qué te parece la publicación ..."></textarea>
                        </br> 
                        <div class="mod-scrollable">
                        {% for comentarioP in publicacion.comentariop_set.all %}
                            <p>
                                <div class="rcorner">
                                    <font size="3">
                                        -<b>{{ comentarioP.usuario.username }} :</b>{{ comentarioP.contenido }}
                                    </font>
                                    {% if comentarioP.imagen %}
                                        <img src="{% url "index" %}{{ comentarioP.imagen }}" width="50%" height="" vspace="10">
                                    {% endif %}
                                    <span class="pull-right">  
                                        <a href="{% url 'lineatiempo:me_gusta_cp' comentarioP.pk %}"><i class="fa fa-heart" aria-hidden="true"></i><font size="1">+{{ comentarioP.me_gusta }}</font></a>
                                            {% if comentarioP.usuario.pk == user.pk or user.is_superuser %}
                                                <div class="pull-right">
                                                    <a href="#" @click.prevent="borrarComentarioPublicacion({{ comentarioP.pk }})"><i class="fa fa-fw fa-lg fa-trash-o"></i></a></li>
                                                </div>
                                            {% endif %}
                                    </span>
                                </div> 
                                <small class="text-muted">
                                    {{ comentarioP.fecha|date:"Y-m-d H:i:s" }}
                                </small>          
                            </p>
                        {% endfor %}
                        </div><!--Fin scroll-->
                    </div><!--Fin modal-body-->
                    
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <label class="btn btn-primary btn-file">
                                <input name="imagen_c" type="file" ref="imagenComentario" v-model="imagenComentario" id="imagen_c" style="display: none;">
                                <i class="fa fa-fw fa-lg fa-image"></i>Imagen
                            </label>
                            <button class="btn btn-primary" >Responder</button>
                        </div>
                    </div> <!--Fin modal-footer-->
                </form>
            </div>    
        </div>
    </div>
    <!--Fin Modal -->
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    
        var app = new Vue({
            el: '#app',
            //delimiters:'[[]]',
            data:{
                areaPublicacion: '',
                imagenPublicacion:'',
                videoPublicacion:'',
                audioPublicacion:'',
                textoComentario:'',
                imagenComentario:'',
                publicacion:null,
                comentario:null,
                accion:"guardar_comentario",
                multimedia: null,
            },
            methods:{
                enviarPublicacion: function(){
                    this.accion = 'guardar_publicacion';
                    //alert('video');
                    this.areaPublicacion = this.buscarPaginas(this.areaPublicacion,0);
                    if(this.areaPublicacion != '' || this.imagenPublicacion!='' || this.videoPublicacion!='' || this.audioPublicacion!=''){
                        this.$refs.formPublicacion.appendChild(this.$refs.areaPublicacion);
                        this.$refs.formPublicacion.appendChild(this.$refs.imagenPublicacion);
                        this.$refs.formPublicacion.appendChild(this.$refs.videoPublicacion);
                        this.$refs.formPublicacion.appendChild(this.$refs.audioPublicacion);
                        this.$refs.formPublicacion.submit();
                    }                
                },
                borrarPublicacion: function(publicacion_pk){
                    this.publicacion = publicacion_pk;
                    this.accion = 'borrar';
                    if(confirm('¿Esta seguro de borrar la publicación?')){
                        this.$refs.formPublicacion.submit();
                    }
                },
                borrarComentarioPublicacion: function(comentario_pk){
                    this.comentario = comentario_pk;
                    this.accion = 'borrar_comentario';
                    if(confirm('¿Esta seguro de borrar el comentario de la publicación?')){
                        this.$refs.formComentarioP.submit();
                    }
                },
                enviarComentarioP: function(publicacion_pk){
                    this.accion = 'guardar_comentario';
                    if(this.textoComentario != '' || this.imagenComentario != ''){
                        this.$refs.formComentarioP.appendChild(this.$refs.imagenComentario);
                        setTimeout(this.$refs.formComentarioP.submit(), 1000);
                    }
                },
                modalImagen: function(multimedia_pk){
                    this.multimedia = multimedia_pk;
                    // Get the modal
                    var modal = document.getElementById('myModal');
                    // Get the image and insert it inside the modal - use its "alt" text as a caption
                    var img = document.getElementById(this.multimedia);
                    var modalImg = document.getElementById("modalImg");
                    var captionText = document.getElementById("caption");
                    modal.style.display = "block";
                    modalImg.src = img.src;
                    captionText.innerHTML = img.alt;

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() { 
                        modal.style.display = "none";
                    }
                },
                buscarPaginas: function(texto,indice){
                    pos = texto.indexOf('http',indice);
                    if(pos>=0){
                        posFin = texto.indexOf(' ',pos);
                        if(posFin>=0){
                            url = texto.substring(pos,posFin);
                            youtube = url.indexOf('watch?v=');
                            if(youtube>=0){
                                url = url.substring(0,youtube)+'embed/'+url.substring(youtube+8);
                            }
                            var embed = '<iframe src="'+url+'" height="50%" width="50%"></iframe>';
                            texto = texto.substring(0,pos)+embed+texto.substring(posFin);
                            this.buscarPaginas(texto,posFin+49);
                        }else{
                            url = texto.substring(pos,texto.length);
                            youtube = url.indexOf('watch?v=');
                            if(youtube>=0){
                                url = url.substring(0,youtube)+'embed/'+url.substring(youtube+8);
                            }
                            var embed = '<iframe src="'+url+'" height="80%" width="50%"></iframe>';
                            texto = texto.substring(0,pos)+embed;
                        }                       
                    }
                    return texto;
                }
            }
        
        })
    
    </script>
{% endblock %}