{% extends 'pagina/index.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="container">   
    <div class="row">
        {% for elemento in elementos %}
            <div class="col-md-{{ elemento.ancho }}">
                {% if elemento.tipo == 'titulo' %}
                    <center><h3 class="bristolTitulo">{{ elemento.contenido }}</h3></center>
                {% if elemento.tipo == 'imagen' %}
                    <a href="#"><img width="100%" src="{{ elemento.imagen.url }}" alt="Red Sentir"></a>
                {% elif elemento.tipo == 'parrafo' %}
                    <p style="color:#fff;" align="justify"><font size="4">{{ elemento.contenido }}</p>
                {% if elemento.tipo == 'video' %}
                    <iframe  id="video" width="100%" height="480" src="{{ elemento.contenido }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </div>            
        {% endfor %}        
        {% for elemento in elementos %}
            <div class="col-md-3">
            {% if elemento.tipo == 'audio' %}
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ elemento.contenido }}&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for imagen in carrusel %}                            
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter == 1 %} class = "active" {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for imagen in carrusel %} 
                <div class="item{% if forloop.counter == 1 %} active {% endif %}" id="{{ forloop.counter0 }}">                        
                    <center><img src="{% url 'index' %}{{ imagen.imagen.url }}" alt="Red Sentir"></center>                        
                </div>
            {% endfor %}              
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>
{% endblock %}
