{% extends 'pagina/index.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="container"> 
    <div class="row">
        <div class="col-12-md">
            <center><h2 class="bristolTitulo">RED SENTIR</br>CON-CIENCIA JUVENIL</h2></center>
            <center>
            <a href="#"><img width="100%" src="{% static "images/pagina/equipo.png" %}" alt="Equipo Red Sentir"></a>
            </center>
        </div>
    </div>  
    <div class="row">    
    <div class="col-md-6">
        </br>
        </br>
        </br>
        </br>        
        <center><h3 class="bristolTitulo">¿QUÉ ES LA RED SENTIR?</h3></center>
        <p style="color:#fff;" align="justify"><font size="4">Somos un proyecto para la prevención del embarazo adolescente, liderado por la Corporación de Estudiantes Universitarios y Profesionales de Marinilla-CORUM con Cooperación Internacional del Banco Interamericano de Desarrollo-BID y con recursos del Fondo Especial Japonés para la reducción de la pobreza en 6 municipios del Oriente antioqueño: Sonsón, Abejorral, San Francisco, San Luis, Argelia y Marinilla. </font></p>
    </div>
    <div class="col-md-6">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <p  style="color:red;">{% social_widget_render 'facebook/share_button.html' href='http://redsentir.org/pagina/encuentro' %}</p>
        <center>
        <a href="#"><img width="70%" height="30%" src="{% static "images/pagina/1.png" %}" alt="Red Sentir"></a>  
        </center>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        </br>
        </br>
        </br>
        <center>
        <a href="#"><img width="90%" height="90%" src="{% static "images/pagina/3.png" %}" alt="Red Sentir"></a>
        </center>
    </div>
    <div class="col-md-6"> 
        <center><h3 class="bristolTitulo">ANTECEDENTES</h3></center>
        <p style="color:#fff;" align="justify"><font size="4">La organización mundial de la salud OMS considera que el embarazo adolescente es un problema de gran complejidad que afecta los ambientes familiares, económicos, sociales y de salud. En Colombia, una de cada cinco adolescentes entre 15 y 19 años ha estado embarazado al menos una vez, situación que se presenta entre otras causas por deficiencias de información y comunicación afectiva y efectiva entre los padres, los maestros y los jóvenes. 
        Según el PNUD "Programa de las Naciones Unidas para el Desarrollo", el embarazo adolescentees es un problema creciente en la región del Oriente Antioqueño, si tenemos en cuenta que solo en el año 2011 hubo 1.481 nacimientos en mujeres entre 15 y 19 años y 52 en mujeresentre 10 y 14 años, convirtiéndose esta situación en un problema de salud pública.
        De acuerdo al CONPES (Consejo Nacional de Politíca Económica y Social) 147 de 2012, el problema del embarazo adolescente ha sido tratado tradicionalmente a través de la prevención en salud, la promoción del uso de métodos anticonceptivos y la provisión de servicios en casos de riesgo grave. No obstante, esto ignora aspectos determinantes como el contexto social, la violencia intrafamiliar y las secuelas del conflicto armado, así como las relaciones interpersonales de los adolescentes y sus proyectos de vida y prácticas culturales, presentándose casos de incesto en algunas zonas, relaciones a temprana edad y paradigmas que responden a una cultura machista y patriarcal.
        </font></p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <p style="color:#fff;" align="justify"><font size="4">Nuestra gran apuesta es la generación de un proceso integral, para crear conciencia, formación, información y responsabilidad en los planes de vida y la toma desiciones por parte de los jóvenes, en consenso con padres y maestros, para responder a sueños y expectativas de autonomía y libertad, permitiendo de manera real, disminuir las altas tasas de embarazo adolescente y propiciando la participación en los procesos de desarrollo, para superar ciclos históricos de pobreza de sectores tradicionalmente marginados. </font></p>
        <center><h3 class="bristolTitulo">OBJETIVO</h3></center>
        <p style="color:#fff;" align="justify"><font size="4">Nuestro objetivo es implementar estrategias para prevenir el embarazo adolescente en 6 municipios del Oriente Antioqueño -Sonsón, Abejorral, San Francisco, San Luis, Argelia y Marinilla- a través del desarrollo de una plataforma educativa y recreativa, que incluye componentes para redes sociales y dispositivos móviles, y se enfoca en la educación sexual y en el fortalecimiento de los proyectos de vida de los adolescentes.</font></p>
    </div>
    <div class="col-md-6">       
        <center>
        <a href="#"><img width="80%" height="75%" src="{% static "images/pagina/6.png" %}" alt="Red Sentir"></a>
        </center>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        </br>
        </br>
        <a href="#"><img width="100%" height="95%" src="{% static "images/pagina/5.png" %}" alt="Red Sentir"></a>
    </div>
    <div class="col-md-6"> 
        <center><h3 class="bristolTitulo">ENFOQUE</h3></center>
        <p style="color:#fff;" align="justify"><font size="4">Nuestra propuesta educativa invita a los jóvenes tejan caminos autónomas, que les permita experimentar sus vidas de forma consciente, hilen identidades para la toma de decisiones y le den puntadas a sus planes de vida mediante la conformación de relaciones solidarias y respetuosas, siendo éste un enfoque integral, el cual se construye en espacios donde las discusiones, información, experiencias y conocimientos adquiridos sean contextualizados con su interes, necesidades y problemáticas para que a través del arte y la tecnología expandan las redes de amor, unidad, creatividad, transformación y empoderamiento de sus realidades.</font></p>
        <p style="color:#fff;" align="justify"><font size="4">La salud y la sexualidad de la Red Sentir emergen como un sentido de lo pedagógio y de lo metodológico, enfatizando en las apuestas politícas y sexuales al interior del quehacer del proyecto y partiendo del pensamiento y de la filosofía salubrista.</font></p>
        <p style="color:#fff;" align="justify"><font size="4">Queremos darle paso a nuevas propuestas y formas de ver el mundo, invitando a generar políticas integrales de prevención del embarazo adolescente con enfoque en intervenciones multicomponentes, multisectoriales y multiniveles, al trabajo en equipo, la agudización de los sentidos y la ampliación de la conciencia, lo que se expresa desde la cocreación, la transdisciplinariedad y el compartir de saberes, buscando transversalizar dichas miradas manera armoniosa e intencionada en las actividades cotidianas. </font></p></br>
    </div>
    </div>
</div>
{% endblock %}
