#cielo {
    width:100%;
    height:100%;
    background-image: url(../img/cielo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}
#ciudad {
    display:none;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background-image: url(../img/ciudad.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo-red-sentir {
    display:none;
    margin-left:5%;
}
#logo-guia {
    display:none;
    margin-left:10%;
}
#personajes {
    display:none;
    position:absolute;
    top:0%;
    left:30%;
}
#logo-corum {
    display:none;
    position:absolute;
    right:5%;
    bottom:5%;
}