<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>esperma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{54,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esperma_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{54,16}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>esperma.png</string>
            <key>size</key>
            <string>{112,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bbd9565532304ac25658322abb94628:aba48ab4f8cdedfec486807c3a99fbcc:d0f349f315921f1f4a7a15c6b3151e50$</string>
            <key>textureFileName</key>
            <string>esperma.png</string>
        </dict>
    </dict>
</plist>
