<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conducto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1804,366}</string>
                <key>spriteSourceSize</key>
                <string>{1804,366}</string>
                <key>textureRect</key>
                <string>{{1,307},{1804,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conducto_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1887,377}</string>
                <key>spriteSourceSize</key>
                <string>{1887,377}</string>
                <key>textureRect</key>
                <string>{{1,675},{1887,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esperma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{129,1},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esperma_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{54,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inicio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,304}</string>
                <key>spriteSourceSize</key>
                <string>{321,304}</string>
                <key>textureRect</key>
                <string>{{243,1},{321,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ovulo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{57,1},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>imagenes.png</string>
            <key>size</key>
            <string>{1889,1053}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baf4208b60a6354e586bbdca8679db31:1de8927958116a99187389fb47d644d2:dcdb694319e9461bcf7dbac418b7a1f6$</string>
            <key>textureFileName</key>
            <string>imagenes.png</string>
        </dict>
    </dict>
</plist>
