<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conducto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1804,366}</string>
                <key>spriteSourceSize</key>
                <string>{1804,366}</string>
                <key>textureRect</key>
                <string>{{1,406},{1804,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>esperma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esperma_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{82,1},{81,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inicio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,304}</string>
                <key>spriteSourceSize</key>
                <string>{321,304}</string>
                <key>textureRect</key>
                <string>{{1,100},{321,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motonea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{98,97}</string>
                <key>textureRect</key>
                <string>{{238,1},{98,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ovulo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{165,1},{70,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>imagenes.png</string>
            <key>size</key>
            <string>{368,2211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837d38b41839fc7f650ca0e4ce95e52a:6b8a7834db373d270dac5abdb89b5b92:dcdb694319e9461bcf7dbac418b7a1f6$</string>
            <key>textureFileName</key>
            <string>imagenes.png</string>
        </dict>
    </dict>
</plist>
