<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>esperma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,26}</string>
                <key>spriteSourceSize</key>
                <string>{79,26}</string>
                <key>textureRect</key>
                <string>{{70,0},{79,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esperma_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{149,0},{81,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inicio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,304}</string>
                <key>spriteSourceSize</key>
                <string>{321,304}</string>
                <key>textureRect</key>
                <string>{{0,97},{321,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>motonea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{98,97}</string>
                <key>textureRect</key>
                <string>{{230,0},{98,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ovulo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{70,71}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{328,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66c80f52fcbfc2891c70c3909b971bca:0679e390c7ef284b266b141db129018a:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
