{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="img-circle" src="{% static "/images/mesa/abejorral.png" %}" alt="Marinilla">
            <h4>ABEJORRAL</h4>
            <p></p>
            </div>
            <div class="row"><img src="{% static "/images/mesa/abejorral_i.jpg" %}"></div>
        </div>
    </div>
        </br>
        <div class="col-md-12" >
        </br>
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Compromisos</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                
            </p>
        </div>
        </div>         
        <div class="col-md-1" ></div>
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Requerimientos</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                
            </p>
        </div>
        </div>
        </div>
        
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Actores</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
            </p>
        </div>
        </div>
        <div class="col-md-1" ></div>
        <div class="card col-md-5" >
        <div class="card-block">
            <h4 class="card-title">Acciones</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}