{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="img-circle" src="{% static "/images/mesa/argelia.png" %}" alt="Marinilla">
            <h4>ARGELIA</h4>
            <p></p>
            </div>
            <div class="row"><img src="{% static "/images/mesa/argelia_i.jpg" %}"></div>
        </div>
    </div>
        </br>
        <div class="col-md-12" >
        <div class="card col-md-12">
        <div class="card-block">
            <div class="col-md-8">
                <h2 class="card-title">Compromiso 1</h2>                
                <p class="card-text">Seguimiento y evaluación del impacto, gestión para darle continuidad a la estrategia.</p>
                <h4 class="card-title">Fecha</h4>
                <p class="card-text">Abril-Diciembre de 2017</p>
                <h4 class="card-title">Acciones</h4>
                <p class="card-text">
                    <ul>
                        <li>Implementación de la estrategia ¡Te cuidas, me cuido!</li>
                    </ul>
                </p>
                <h4 class="card-title">Actores</h4>
                <p class="card-text">
                    <ul>
                        <li>Organizaciones sociales</li>
                        <li>Secretaría de la Familia de Salud y Educación.</li>
                    </ul>
                </p>
                <h4 class="card-title">Requerimientos</h4>
                <p class="card-text">
                    <ul>
                        <li>Diagnostico de la situación.</li>
                        <li>presupuesto.</li>
                        <li>recurso humano para la implementación.</li>
                        <li>disposición de la comunidad.</li>
                        <li>socialización.</li>
                    </ul>
                </p>
            </div>                
            <div class="col-md-4">
                <img class="img-thumbnail" width="100%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}