{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="img-circle" src="{% static "/images/mesa/sanfrancisco.png" %}" alt="Marinilla">
            <h4>SAN FRANCISCO</h4>
            <p></p>
            </div>
            <div class="row"><img src="{% static "/images/mesa/sanfran_per.jpg" %}"></div>
        </div>
    </div>
        </br>
        <div class="col-md-12" >
        </br>
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Compromisos</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                <ul>
                    <li>Convocatoria juvenil</li>
                    <li>Articulación con instituciones</li>
                    <li>Posibilidades de gestión</li>
                </ul>
            </p>
        </div>
        </div>         
        <div class="col-md-1" ></div>
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Requerimientos</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                <ul>
                    <li>Recurso económico y humano</li>
                </ul>
            </p>
        </div>
        </div>
        </div>
        
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Actores</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text"><ul>
                    <li>Mesa de infancia y adolescencia</li>
                    <li>Demás instituciones municipales</li>
                </ul>
            </p>
        </div>
        </div>
        <div class="col-md-1" ></div>
        <div class="card col-md-5" >
        <div class="card-block">
            <h4 class="card-title">Acciones</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                <ul>
                    <li>Creación de plataforma de juventud</li>
                </ul>
                </br>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}