{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="img-circle" src="{% static "/images/mesa/sanluis.png" %}" alt="Marinilla">
            <h4>SAN LUIS</h4>
            <p></p>
            </div>
            <div class="row"><img src="{% static "/images/mesa/sanluis_per.jpg" %}"></div>
        </div>
    </div>
        </br>
        <div class="col-md-12" >
        </br>
        <div class="card col-md-12">
        <div class="card-block">
            <div class="col-md-8">
                <h2 class="card-title">Compromiso 1</h2>                
                <p class="card-text">Convocar población adolescente, socializar y multiplicar.</p>
                <h4 class="card-title">Fecha</h4>
                <p class="card-text">Última semana de septiembre.</p>
                <h4 class="card-title">Acciones</h4>
                <p class="card-text">
                    <ul>
                        <li>Jornadas de sensibilización.</li>
                        <li>Saneamiento en familia.</li>
                        <li>Proyecto y plan de vida (habilidades para la vida).</li>
                    </ul>
                </p>
                <h4 class="card-title">Actores</h4>
                <p class="card-text">
                    <ul>
                        <li>Mesa de infancia y adolescencia.</li>
                    </ul>
                </p>
                <h4 class="card-title">Requerimientos</h4>
                <p class="card-text">
                    <ul>
                        <li>Materiales didácticos.</li>
                        <li>Recurso audiovisual.</li>
                        <li>Refrigerios.</li>
                        <li>Apoyo logístico.</li>
                    </ul>
                </p>
            </div>                
            <div class="col-md-4">
                <img class="img-thumbnail" width="100%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}