{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="img-circle" src="{% static "/images/mesa/sonson.png" %}" alt="Marinilla">
            <h4>SONSÓN</h4>
            <p></p>
            </div>
            <div class="row"><img src="{% static "/images/mesa/sonson.jpg" %}"></div>
        </div>
    </div>
        </br>
        <div class="col-md-12" >
        </br>
        <div class="card col-md-12">
        <div class="card-block">
            <div class="col-md-8">
                <h2 class="card-title">Compromiso 1</h2>                
                <p class="card-text">Gestionar, artícular y crear estrategias de mejora e implementarlas.</p>
                <h4 class="card-title">Fecha</h4>
                <p class="card-text">Tentativa: Próxima Mesa de Infancia.</p>
                <h4 class="card-title">Acciones</h4>
                <p class="card-text">
                    <ul>
                        <li>Articulación de trabajo conjunto</li>
                    </ul>
                </p>
                <h4 class="card-title">Actores</h4>
                <p class="card-text">
                    <ul>
                        <li>Mesa de infancia y adolescencia.</li>
                        <li>Alcaldía municipal.</li>
                        <li>Hospital.</li>
                        <li>Secretaria de salud.</li>
                        <li>Policia de infancia.</li>
                    </ul>
                </p>
                <h4 class="card-title">Requerimientos</h4>
                <p class="card-text">
                    <ul>
                        <li>Ingresos y gestión para proyectos y campañas (presupuesto).</li>
                    </ul>
                </p>
            </div>                
            <div class="col-md-4">
                <img class="img-thumbnail" width="100%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}