{% extends 'base.html' %}
{% load static %}
{% load social_widgets %}
{% block contenido %}
<div class="row user">
    <div class="col-md-12">
    <div class="col-md-12">
        <div class="profile">
            <div class="info">
                <img class="img-circle" src="{% static "/images/mesa/marinilla.png" %}" alt="Marinilla">
            <h4>SONSÓN</h4>
            <p></p>
            </div>
            <div class="row"><img src="{% static "/images/mesa/marinilla.jpg" %}"></div>
        </div>
    </div>
        </br>
        <div class="col-md-12" >
        </br>
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Compromisos</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                <ul>
                    <li>Gestionar</li>
                    <li>Artícular y crear estrategias de mejora e implementarlas</li>
                </ul>
            </p>
        </div>
        </div>         
        <div class="col-md-1" ></div>
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Requerimientos</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                <ul>
                    <li>Ingresos y gestión para proyectos y campañas (presupuesto)</li>
                </ul>
            </p>
        </div>
        </div>
        </div>
        
        <div class="card col-md-5">
        <div class="card-block">
            <h4 class="card-title">Actores</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text"><ul>
                    <li>Mesa de infancia y adolescencia</li>
                    <li>Alcaldía municipal</li>
                    <li>Hospital</li>
                    <li>Secretaria de salud</li>
                    <li>Policia de infancia</li>
                </ul>
            </p>
        </div>
        </div>
        <div class="col-md-1" ></div>
        <div class="card col-md-5" >
        <div class="card-block">
            <h4 class="card-title">Acciones</h4>
            <img class="img-thumbnail" width="50%" src="{% static "/images/pagina/grafico-mesa-r.png" %}">
            
            <p class="card-text">
                <ul>
                    <li>Articulación de trabajo conjunto</li>
                </ul>
                </br>
            </p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}